In [2]:
import numpy as np
import pandas as pd
from pathlib import Path

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [3]:
train_df = pd.read_csv(Path('Resources/2019loans2.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans2.csv'))

In [4]:
train_df.head(10)

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,target
0,7000.0,0.1894,256.38,MORTGAGE,75000.0,Not Verified,n,28.62,0.0,2.0,...,87.5,0.0,0.0,352260.0,62666.0,35000.0,10000.0,N,N,low_risk
1,40000.0,0.1614,975.71,MORTGAGE,102000.0,Source Verified,n,11.72,2.0,0.0,...,0.0,0.0,0.0,294664.0,109911.0,9000.0,71044.0,N,N,low_risk
2,11000.0,0.2055,294.81,RENT,45000.0,Verified,n,37.25,1.0,3.0,...,7.7,0.0,0.0,92228.0,36007.0,33000.0,46328.0,N,N,low_risk
3,4000.0,0.1612,140.87,MORTGAGE,38000.0,Not Verified,n,42.89,1.0,0.0,...,100.0,0.0,0.0,284273.0,52236.0,13500.0,52017.0,N,N,low_risk
4,14000.0,0.1797,505.93,MORTGAGE,43000.0,Source Verified,n,22.16,1.0,0.0,...,25.0,0.0,0.0,120280.0,88147.0,33300.0,78680.0,N,N,low_risk
5,6000.0,0.0756,186.81,MORTGAGE,90500.0,Source Verified,n,23.48,0.0,0.0,...,0.0,0.0,0.0,88500.0,44170.0,24000.0,57000.0,N,N,low_risk
6,10500.0,0.2250,293.00,RENT,32000.0,Verified,n,16.09,0.0,1.0,...,0.0,0.0,0.0,22581.0,10228.0,10700.0,9481.0,N,N,low_risk
7,22000.0,0.0819,448.09,MORTGAGE,92000.0,Source Verified,n,22.87,0.0,0.0,...,66.7,0.0,0.0,390661.0,169942.0,27100.0,143033.0,N,N,low_risk
8,10625.0,0.2055,284.76,RENT,54100.0,Source Verified,n,15.53,0.0,2.0,...,25.0,0.0,0.0,35620.0,18590.0,16000.0,17620.0,N,N,low_risk
9,20000.0,0.2534,591.02,OWN,38000.0,Source Verified,n,19.68,0.0,0.0,...,66.7,0.0,0.0,32064.0,27811.0,23400.0,8664.0,N,N,low_risk

In [5]:
test_df.head(10)

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag,target
0,40000.0,0.1033,856.40,RENT,128700.0,Source Verified,n,12.47,0.0,1.0,...,57.1,0.0,0.0,63915.0,49510.0,49400.0,14515.0,Y,N,low_risk
1,24450.0,0.1430,572.72,MORTGAGE,44574.0,Not Verified,n,15.05,0.0,1.0,...,0.0,0.0,0.0,136425.0,19439.0,15500.0,18925.0,N,N,low_risk
2,13500.0,0.1430,316.23,OWN,60000.0,Not Verified,n,28.72,0.0,0.0,...,0.0,0.0,0.0,82124.0,65000.0,5400.0,61724.0,Y,N,low_risk
3,10625.0,0.1774,268.31,RENT,60000.0,Verified,n,15.70,0.0,4.0,...,20.0,0.0,0.0,54855.0,50335.0,23200.0,26255.0,N,N,low_risk
4,6375.0,0.1862,232.46,RENT,60000.0,Source Verified,n,35.50,0.0,0.0,...,75.0,0.0,0.0,90445.0,56541.0,15300.0,72345.0,N,N,low_risk
5,15000.0,0.1102,491.23,MORTGAGE,45000.0,Source Verified,n,66.32,0.0,0.0,...,100.0,0.0,0.0,107958.0,86144.0,7500.0,98458.0,N,N,low_risk
6,12000.0,0.0702,370.64,MORTGAGE,81500.0,Source Verified,n,16.61,0.0,0.0,...,25.0,1.0,0.0,241476.0,35885.0,33700.0,36918.0,N,N,low_risk
7,4500.0,0.1308,151.80,RENT,95000.0,Source Verified,n,24.36,0.0,0.0,...,64.3,0.0,0.0,86099.0,59896.0,40600.0,35499.0,N,N,low_risk
8,8000.0,0.1033,259.38,MORTGAGE,50000.0,Not Verified,n,13.18,0.0,0.0,...,100.0,0.0,0.0,145248.0,20553.0,16000.0,6800.0,N,N,low_risk
9,40000.0,0.0646,1225.24,MORTGAGE,140000.0,Source Verified,n,16.38,0.0,0.0,...,11.1,0.0,0.0,615294.0,139627.0,106900.0,77485.0,N,N,low_risk

In [6]:
train_df.dtypes

loan_amnt                     float64
int_rate                      float64
installment                   float64
home_ownership                 object
annual_inc                    float64
                               ...
total_bc_limit                float64
total_il_high_credit_limit    float64
hardship_flag                  object
debt_settlement_flag           object
target                         object
Length: 84, dtype: object

In [7]:
test_df.dtypes

loan_amnt                     float64
int_rate                      float64
installment                   float64
home_ownership                 object
annual_inc                    float64
                               ...
total_bc_limit                float64
total_il_high_credit_limit    float64
hardship_flag                  object
debt_settlement_flag           object
target                         object
Length: 84, dtype: object

In [8]:
# Find null values for train
for column in train_df.columns:
    print(f"Column {column} has {train_df[column].isnull().sum()} null values")

Column loan_amnt has 0 null values
Column int_rate has 0 null values
Column installment has 0 null values
Column home_ownership has 0 null values
Column annual_inc has 0 null values
Column verification_status has 0 null values
Column pymnt_plan has 0 null values
Column dti has 0 null values
Column delinq_2yrs has 0 null values
Column inq_last_6mths has 0 null values
Column open_acc has 0 null values
Column pub_rec has 0 null values
Column revol_bal has 0 null values
Column total_acc has 0 null values
Column initial_list_status has 0 null values
Column out_prncp has 0 null values
Column out_prncp_inv has 0 null values
Column total_pymnt has 0 null values
Column total_pymnt_inv has 0 null values
Column total_rec_prncp has 0 null values
Column total_rec_int has 0 null values
Column total_rec_late_fee has 0 null values
Column recoveries has 0 null values
Column collection_recovery_fee has 0 null values
Column last_pymnt_amnt has 0 null values
Column collections_12_mths_ex_med has 0 null values
Column policy_code has 0 null values
Column application_type has 0 null values
Column acc_now_delinq has 0 null values
Column tot_coll_amt has 0 null values
Column tot_cur_bal has 0 null values
Column open_acc_6m has 0 null values
Column open_act_il has 0 null values
Column open_il_12m has 0 null values
Column open_il_24m has 0 null values
Column mths_since_rcnt_il has 0 null values
Column total_bal_il has 0 null values
Column il_util has 0 null values
Column open_rv_12m has 0 null values
Column open_rv_24m has 0 null values
Column max_bal_bc has 0 null values
Column all_util has 0 null values
Column total_rev_hi_lim has 0 null values
Column inq_fi has 0 null values
Column total_cu_tl has 0 null values
Column inq_last_12m has 0 null values
Column acc_open_past_24mths has 0 null values
Column avg_cur_bal has 0 null values
Column bc_open_to_buy has 0 null values
Column bc_util has 0 null values
Column chargeoff_within_12_mths has 0 null values
Column delinq_amnt has 0 null values
Column mo_sin_old_il_acct has 0 null values
Column mo_sin_old_rev_tl_op has 0 null values
Column mo_sin_rcnt_rev_tl_op has 0 null values
Column mo_sin_rcnt_tl has 0 null values
Column mort_acc has 0 null values
Column mths_since_recent_bc has 0 null values
Column mths_since_recent_inq has 0 null values
Column num_accts_ever_120_pd has 0 null values
Column num_actv_bc_tl has 0 null values
Column num_actv_rev_tl has 0 null values
Column num_bc_sats has 0 null values
Column num_bc_tl has 0 null values
Column num_il_tl has 0 null values
Column num_op_rev_tl has 0 null values
Column num_rev_accts has 0 null values
Column num_rev_tl_bal_gt_0 has 0 null values
Column num_sats has 0 null values
Column num_tl_120dpd_2m has 0 null values
Column num_tl_30dpd has 0 null values
Column num_tl_90g_dpd_24m has 0 null values
Column num_tl_op_past_12m has 0 null values
Column pct_tl_nvr_dlq has 0 null values
Column percent_bc_gt_75 has 0 null values
Column pub_rec_bankruptcies has 0 null values
Column tax_liens has 0 null values
Column tot_hi_cred_lim has 0 null values
Column total_bal_ex_mort has 0 null values
Column total_bc_limit has 0 null values
Column total_il_high_credit_limit has 0 null values
Column hardship_flag has 0 null values
Column debt_settlement_flag has 0 null values
Column target has 0 null values

In [9]:
# Find null values for test
for column in test_df.columns:
    print(f"Column {column} has {test_df[column].isnull().sum()} null values")

Column loan_amnt has 0 null values
Column int_rate has 0 null values
Column installment has 0 null values
Column home_ownership has 0 null values
Column annual_inc has 0 null values
Column verification_status has 0 null values
Column pymnt_plan has 0 null values
Column dti has 0 null values
Column delinq_2yrs has 0 null values
Column inq_last_6mths has 0 null values
Column open_acc has 0 null values
Column pub_rec has 0 null values
Column revol_bal has 0 null values
Column total_acc has 0 null values
Column initial_list_status has 0 null values
Column out_prncp has 0 null values
Column out_prncp_inv has 0 null values
Column total_pymnt has 0 null values
Column total_pymnt_inv has 0 null values
Column total_rec_prncp has 0 null values
Column total_rec_int has 0 null values
Column total_rec_late_fee has 0 null values
Column recoveries has 0 null values
Column collection_recovery_fee has 0 null values
Column last_pymnt_amnt has 0 null values
Column collections_12_mths_ex_med has 0 null values
Column policy_code has 0 null values
Column application_type has 0 null values
Column acc_now_delinq has 0 null values
Column tot_coll_amt has 0 null values
Column tot_cur_bal has 0 null values
Column open_acc_6m has 0 null values
Column open_act_il has 0 null values
Column open_il_12m has 0 null values
Column open_il_24m has 0 null values
Column mths_since_rcnt_il has 0 null values
Column total_bal_il has 0 null values
Column il_util has 0 null values
Column open_rv_12m has 0 null values
Column open_rv_24m has 0 null values
Column max_bal_bc has 0 null values
Column all_util has 0 null values
Column total_rev_hi_lim has 0 null values
Column inq_fi has 0 null values
Column total_cu_tl has 0 null values
Column inq_last_12m has 0 null values
Column acc_open_past_24mths has 0 null values
Column avg_cur_bal has 0 null values
Column bc_open_to_buy has 0 null values
Column bc_util has 0 null values
Column chargeoff_within_12_mths has 0 null values
Column delinq_amnt has 0 null values
Column mo_sin_old_il_acct has 0 null values
Column mo_sin_old_rev_tl_op has 0 null values
Column mo_sin_rcnt_rev_tl_op has 0 null values
Column mo_sin_rcnt_tl has 0 null values
Column mort_acc has 0 null values
Column mths_since_recent_bc has 0 null values
Column mths_since_recent_inq has 0 null values
Column num_accts_ever_120_pd has 0 null values
Column num_actv_bc_tl has 0 null values
Column num_actv_rev_tl has 0 null values
Column num_bc_sats has 0 null values
Column num_bc_tl has 0 null values
Column num_il_tl has 0 null values
Column num_op_rev_tl has 0 null values
Column num_rev_accts has 0 null values
Column num_rev_tl_bal_gt_0 has 0 null values
Column num_sats has 0 null values
Column num_tl_120dpd_2m has 0 null values
Column num_tl_30dpd has 0 null values
Column num_tl_90g_dpd_24m has 0 null values
Column num_tl_op_past_12m has 0 null values
Column pct_tl_nvr_dlq has 0 null values
Column percent_bc_gt_75 has 0 null values
Column pub_rec_bankruptcies has 0 null values
Column tax_liens has 0 null values
Column tot_hi_cred_lim has 0 null values
Column total_bal_ex_mort has 0 null values
Column total_bc_limit has 0 null values
Column total_il_high_credit_limit has 0 null values
Column hardship_flag has 0 null values
Column debt_settlement_flag has 0 null values
Column target has 0 null values

In [10]:
# Find duplicate entries train
print(f"Duplicate entries: {train_df.duplicated().sum()}")

Duplicate entries: 0

In [11]:
# Find duplicate entries test
print(f"Duplicate entries: {test_df.duplicated().sum()}")

Duplicate entries: 0

In [12]:
len(train_df.columns)

84

In [13]:
len(test_df.columns)

84

In [14]:
# Drop the label to create the X data
X = train_df.drop('target', axis=1)
X

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,7000.0,0.1894,256.38,MORTGAGE,75000.0,Not Verified,n,28.62,0.0,2.0,...,100.0,87.5,0.0,0.0,352260.0,62666.0,35000.0,10000.0,N,N
1,40000.0,0.1614,975.71,MORTGAGE,102000.0,Source Verified,n,11.72,2.0,0.0,...,85.7,0.0,0.0,0.0,294664.0,109911.0,9000.0,71044.0,N,N
2,11000.0,0.2055,294.81,RENT,45000.0,Verified,n,37.25,1.0,3.0,...,94.3,7.7,0.0,0.0,92228.0,36007.0,33000.0,46328.0,N,N
3,4000.0,0.1612,140.87,MORTGAGE,38000.0,Not Verified,n,42.89,1.0,0.0,...,92.9,100.0,0.0,0.0,284273.0,52236.0,13500.0,52017.0,N,N
4,14000.0,0.1797,505.93,MORTGAGE,43000.0,Source Verified,n,22.16,1.0,0.0,...,84.1,25.0,0.0,0.0,120280.0,88147.0,33300.0,78680.0,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,19975.0,0.2565,801.09,RENT,28000.0,Not Verified,n,28.42,0.0,0.0,...,100.0,16.7,0.0,0.0,50055.0,28192.0,18700.0,19055.0,N,N
12176,15000.0,0.1774,540.34,RENT,50000.0,Verified,n,23.43,4.0,0.0,...,90.5,11.1,0.0,0.0,70324.0,57025.0,13300.0,54824.0,N,N
12177,3600.0,0.1862,131.28,RENT,60000.0,Not Verified,n,28.80,0.0,1.0,...,100.0,0.0,0.0,0.0,83765.0,55156.0,14800.0,53065.0,N,N
12178,15000.0,0.0881,475.68,MORTGAGE,62000.0,Source Verified,n,11.44,0.0,0.0,...,100.0,0.0,0.0,0.0,189930.0,23748.0,7000.0,32930.0,N,N
12179,15000.0,0.1774,540.34,RENT,54080.0,Not Verified,n,21.66,1.0,1.0,...,90.0,100.0,0.0,0.0,48968.0,29786.0,2900.0,33968.0,N,N

In [15]:
# Convert categorical data to numeric and separate target feature for training data
X_train_dummies = pd.get_dummies(X)
X_train_dummies

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,7000.0,0.1894,256.38,75000.0,28.62,0.0,2.0,20.0,0.0,40414.0,...,0,1,1,0,1,0,1,0,1,0
1,40000.0,0.1614,975.71,102000.0,11.72,2.0,0.0,10.0,0.0,43531.0,...,0,1,0,1,1,0,1,0,1,0
2,11000.0,0.2055,294.81,45000.0,37.25,1.0,3.0,23.0,0.0,8242.0,...,1,1,0,1,1,0,1,0,1,0
3,4000.0,0.1612,140.87,38000.0,42.89,1.0,0.0,7.0,0.0,12767.0,...,0,1,0,1,0,1,1,0,1,0
4,14000.0,0.1797,505.93,43000.0,22.16,1.0,0.0,22.0,0.0,11182.0,...,0,1,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,19975.0,0.2565,801.09,28000.0,28.42,0.0,0.0,15.0,0.0,9679.0,...,0,1,0,1,1,0,1,0,1,0
12176,15000.0,0.1774,540.34,50000.0,23.43,4.0,0.0,16.0,0.0,3193.0,...,1,1,0,1,1,0,1,0,1,0
12177,3600.0,0.1862,131.28,60000.0,28.80,0.0,1.0,14.0,0.0,11804.0,...,0,1,0,1,1,0,1,0,1,0
12178,15000.0,0.0881,475.68,62000.0,11.44,0.0,0.0,5.0,0.0,157.0,...,0,1,0,1,0,1,1,0,1,0
12179,15000.0,0.1774,540.34,54080.0,21.66,1.0,1.0,5.0,0.0,8349.0,...,0,1,1,0,1,0,1,0,1,0

In [16]:
train_df['target'].unique()

array(['low_risk', 'high_risk'], dtype=object)

In [17]:
# Convert categorical data to numeric and separate target feature for testing data
y_train_dummies = pd.get_dummies(train_df['target'])
y_train = y_train_dummies[['high_risk']]
y_train

       high_risk
0              0
1              0
2              0
3              0
4              0
...          ...
12175          1
12176          1
12177          1
12178          1
12179          1

[12180 rows x 1 columns]

In [18]:
# Convert categorical data to numeric and separate target feature for testing data
X = test_df.drop('target', axis = 1)
X_test_dummies = pd.get_dummies(X)

y_test_dummies = pd.get_dummies(test_df['target'])
y_test = y_test_dummies[['high_risk']]
y_test

      high_risk
0             0
1             0
2             0
3             0
4             0
...         ...
4697          1
4698          1
4699          1
4700          1
4701          1

[4702 rows x 1 columns]

In [19]:
train_list = X_train_dummies.columns.to_list()
test_list = X_test_dummies.columns.to_list()
# print(train_list)


# check for differences between column lists
# print(list(set(train_list).symmetric_difference(set(test_list))))

print("missing from train_list: ",list(set(test_list) - set(train_list)))
print("missing from test_list: ", list(set(train_list) - set(test_list)))

print(f'train column count: {len(train_list)}')
print(f'test column count:  {len(test_list)}')

missing from train_list:  []
missing from test_list:  ['debt_settlement_flag_Y']
train column count: 92
test column count:  91

In [20]:
# add missing dummy variables to testing set
for column in X_train_dummies.columns:
    if column not in X_test_dummies.columns:
        X_test_dummies[column] = 0
        
X_test_dummies

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,40000.0,0.1033,856.40,128700.0,12.47,0.0,1.0,8.0,0.0,38113.0,...,0,1,0,1,1,0,0,1,1,0
1,24450.0,0.1430,572.72,44574.0,15.05,0.0,1.0,6.0,0.0,1665.0,...,0,1,0,1,1,0,1,0,1,0
2,13500.0,0.1430,316.23,60000.0,28.72,0.0,0.0,8.0,0.0,13857.0,...,0,1,0,1,1,0,0,1,1,0
3,10625.0,0.1774,268.31,60000.0,15.70,0.0,4.0,17.0,0.0,6216.0,...,1,1,0,1,1,0,1,0,1,0
4,6375.0,0.1862,232.46,60000.0,35.50,0.0,0.0,13.0,0.0,12681.0,...,0,1,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,30000.0,0.1240,673.42,140480.0,15.74,0.0,0.0,20.0,0.0,23215.0,...,0,1,1,0,1,0,1,0,1,0
4698,24000.0,0.0756,747.22,50000.0,26.81,0.0,0.0,9.0,0.0,459.0,...,0,1,0,1,1,0,1,0,1,0
4699,10000.0,0.2305,387.36,33000.0,38.51,0.0,2.0,7.0,0.0,6342.0,...,1,1,1,0,1,0,1,0,1,0
4700,8000.0,0.1862,205.86,38000.0,16.36,0.0,1.0,8.0,1.0,11636.0,...,0,1,0,1,1,0,1,0,1,0
4701,30000.0,0.2055,1123.34,180000.0,12.06,0.0,0.0,8.0,0.0,4771.0,...,0,1,1,0,1,0,1,0,1,0

In [21]:
train_list = X_train_dummies.columns.to_list()
test_list = X_test_dummies.columns.to_list()
# print(train_list)


# check for differences between column lists
# print(list(set(train_list).symmetric_difference(set(test_list))))

print("missing from train_list: ",list(set(test_list) - set(train_list)))
print("missing from test_list: ", list(set(train_list) - set(test_list)))

print(f'train column count: {len(train_list)}')
print(f'test column count:  {len(test_list)}')

missing from train_list:  []
missing from test_list:  []
train column count: 92
test column count:  92

_____________________________________________________________________

### LogisticRegression and RandomForestClassifier Model Prediction:
I predict that the Random Forest Classifier will yield the most accurate model because it will produce many trees, or subgroups, that will encounter many different scenerios when processing the data.

In [36]:
# Train the Logistic Regression model on the unscaled data and print the model score
classifier = LogisticRegression()
classifier

# Fit (train) our model by using the training data
classifier.fit(X_train_dummies,y_train)

#Validate the model by using the test data
print(f"Training Data Score: {classifier.score(X_train_dummies, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test_dummies, y_test)}")

/Users/104rrc/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

Training Data Score: 0.6532019704433497
Testing Data Score: 0.5087196937473416

/Users/104rrc/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [23]:
# Create a confusion matrix for Logistic Regression
y_true = y_test
y_pred = classifier.predict(X_test_dummies)
confusion_matrix(y_true, y_pred)

array([[1681,  670],
       [1640,  711]])

In [24]:
# The accuracy of the Logistic Regression model on the test data is TP + TN / (TP + FP + TN + FN)
tn, fp, fn, tp = confusion_matrix(y_true, y_pred).ravel()
accuracy = (tp + tn) / (tp + fp + tn + fn) 
print(f"Accuracy: {accuracy}")

Accuracy: 0.5087196937473416

In [25]:
print(classification_report(y_true, y_pred))

              precision    recall  f1-score   support

           0       0.51      0.72      0.59      2351
           1       0.51      0.30      0.38      2351

    accuracy                           0.51      4702
   macro avg       0.51      0.51      0.49      4702
weighted avg       0.51      0.51      0.49      4702

In [26]:
# Train a Random Forest Classifier model and print the model score
clf = RandomForestClassifier(random_state=42, n_estimators=50).fit(X_train_dummies, y_train)

print(f'Training Score: {clf.score(X_train_dummies, y_train)}')
print(f'Testing Score: {clf.score(X_test_dummies, y_test)}')

/var/folders/nk/670c2l4j02j1x3bk4kcm7qh80000gn/T/ipykernel_69774/1474896662.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  clf = RandomForestClassifier(random_state=42, n_estimators=50).fit(X_train_dummies, y_train)

Training Score: 1.0
Testing Score: 0.6352615908124203

### LogisticRegression and RandomForestClassifier Model Results:
The Random Forest Model performed better than the Logistic Regression Model. A thing to note is that the Random Forest Model is overfitting during the training data. This could raise concerns with how well it performed. But it is to be expected since the training data is already given information. Since, the testing data did not perform at the same level as the training data, we can feel more comfortable with the outcome. All in all, the returned outcomes reflect my initial prediction that the Random Forest would outperform the Logistic Regression Model.

_____________________________________________________________________

### Scaled Data Prediction:
After scaling I think that the data will improve for both models since the distance between data points will be reduced. However, I believe the Logistic Regression Model will produce a better outcome this time around because the large variance between values in the data the first time should be dramatically reduced.

In [33]:
# Scale the data

In [34]:
# Train the Logistic Regression model on the scaled data and print the model score

In [35]:
# Train a Random Forest Classifier model on the scaled data and print the model score

### Scaled LogisticRegression and RandomForestClassifier Results:

_____________________________________________________________________

### Final Conclusions: